ConnectionStrings__RequestCoding=Server=185.255.91.242,2019;Database=apiweb-137requestcoding;User Id=apiweb137requestcodinguser;Password=Rc#9kLm2@xQ7;Encrypt=True;TrustServerCertificate=True;Connection Timeout=15;Connect Retry Count=3;Pooling=true;Max Pool Size=100;MultipleActiveResultSets=true
