[Unit]
Description=Request Coding Service (ASP.NET Core) - سرویس متمرکز کد پیگیری
Documentation=https://apiweb-requestcoding.sabzevar.ir:__PUBLIC_PORT__
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/requestcodingservice
Environment=ASPNETCORE_ENVIRONMENT=Development
Environment=ASPNETCORE_URLS=http://127.0.0.1:__KESTREL_PORT__

EnvironmentFile=-/etc/requestcodingservice.env

Environment=Sso__BaseUrl=http://127.0.0.1:5001
Environment=InternalAuth__ApiKeys__0__Key=dev-internal-key-137
Environment=InternalAuth__ApiKeys__0__Name=InternalDev
Environment=Swagger__Enabled=true

ExecStart=/usr/bin/dotnet /opt/requestcodingservice/RequestCodingService.Api.dll
Restart=always
RestartSec=5
TimeoutStopSec=30

User=requestcodingservice
Group=requestcodingservice
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
ReadWritePaths=/var/log/requestcodingservice
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
